<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/'%}css/estilos.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-blue">
            <div class="container-fluid">
              <!--<a class="navbar-brand" href="inicio.html">Logo</a>-->
              <img src="{% static 'core/%'}img/WhatsApp Image 2022-06-12 at 5.53.19 PM.jpeg" width="5%">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="{% url 'quienessomos'%}">Quienes somos</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'subscripciones'%}">Subscripciones</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="{%url 'productos'%}">Accesorios para Gatos</a></li>
                      <li><a class="dropdown-item" href="#">Accesorios para Perros</a></li>
  

                    
                  </ul>
                  
                </li>
    <li class ="nav-item dropdown">
    <a <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Iniciar sesión o registrarse</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="{%url 'login'%}"> Iniciar sesión</a></li>
      <li><a class="dropdown-item" href="{%url 'crear_cuenta'%}">Registrarse</a></li>
      <li><a class="dropdown-item"href="{%url 'despacho'%}">Despacho a domicilio</a></li>
      <li><a class="dropdown-item"href="{%url 'retiro'%}">Retiro en tienda</a></li>
      <li><a class="dropdown-item"href="{%url 'fecha'%}">Formulario despacho</a></li>
      <li><a class="dropdown-item"href="{%url 'retirotienda'%}">Formulario retiro en tienda</a></li>
      <li><a class="dropdown-item"href="{% url 'carrito' %}">Ver mi carrito</a></li>


    </ul>
    {% if user.is_authenticated %}
    
    <li>
      <a class="dropdown-item" href="#">Usuario:{{user.username}}</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
    {% endif %}
    </li>
              <!--<img src="imagenes/107831.png" alt="#" class="nav-item d-block w-512 px">-->
              </ul>
                  </li>
                </ul>
    
              </div>
            </div>
          </nav>
          
        </div>
        {% block contenido %}
        

        {% endblock contenido %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>